<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DBConnectionn</servlet-name>
        <servlet-class>com.app.DBConnectionn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.app.action.upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBConnectionn</servlet-name>
        <url-pattern>/DBConnectionn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>user_login</servlet-name>
        <servlet-class>com.app.action.user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>owner_login</servlet-name>
        <servlet-class>com.app.action.owner_login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_login</servlet-name>
        <url-pattern>/user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>owner_login</servlet-name>
        <url-pattern>/owner_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
